@import "tailwindcss";
@import "highlight.js/styles/github.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-merriweather);
  --font-mono: var(--font-fira-code);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), serif;
}

/* Enable font ligatures for code blocks */
pre, code, .code {
    font-family: var(--font-mono), 'JetBrains Mono', 'Cascadia Code', 'Fira Mono', 'Monaco', 'Consolas', 'Liberation Mono', monospace !important;
    font-variant-ligatures: normal !important;
    font-feature-settings: "liga" 1, "calt" 1 !important;
    text-rendering: optimizeLegibility !important;
}
