<div class="font-sans">
    <div class="container a4page mx-auto p-2 bg-white border border-cyan-500 print:border-0 overflow-hidden">
        <div class="bg-cyan-800 text-stone-300 flex justify-between p-1.5">
            <div class="text-left grid content-center ml-2">
                <div class="text-3xl font-semibold">{{ data.name }}</div>
                <b class="text-sm">{{ data.designation }} ({{ yearsOfExperience }} Experienced)</b>
                <span class="text-sm">{{ data.address }}</span>
            </div>
            <div><qrcode matTooltipClass="my_tooltip" matTooltipHideDelay="500" matTooltip="Scan to get contact details" [qrdata]="vCardData" [allowEmptyString]="true" [cssClass]="'center'" [colorDark]="tailwindCss.theme.colors.stone[300]" [colorLight]="tailwindCss.theme.colors.cyan[800]" [elementType]="'svg'" [errorCorrectionLevel]="'L'" [margin]="1.5" [scale]="1" [title]="'A custom title attribute'" [width]="100"></qrcode></div>
            <!-- <div><img src="/assets/contact_qr.svg" width="200px" height="auto"/></div> -->
        </div>
        <nav class="w-100 bg-cyan-900 text-slate-300 text-sm flex justify-around">
                <div class="text-sm hover:bg-cyan-950 p-1.5" matTooltipClass="my_tooltip" matTooltipHideDelay="500" matTooltip="{{ data.email.hyperLink }}">
                    <i class="mr-2 fa-solid fa-at"></i>
                    <a [href]="data.email.hyperLink">{{ data.email.text }}</a>
                </div>
                <div class="text-sm hover:bg-cyan-950 p-1.5" matTooltipClass="my_tooltip" matTooltipHideDelay="500" matTooltip="{{ data.phone.hyperLink }}">
                    <i class="mr-2 fa-solid fa-phone"></i>
                    <a [href]="data.phone.hyperLink">+91&nbsp;{{ data.phone.text }}</a>
                </div>
                <div class="text-sm hover:bg-cyan-950 p-1.5" matTooltipClass="my_tooltip" matTooltipHideDelay="500" matTooltip="{{ data.linkedin.hyperLink }}">
                    <i class="mr-2 fa-brands fa-linkedin"></i>
                    <a [href]="data.linkedin.hyperLink" target="_blank">{{ data.linkedin.text }}</a>
                </div>
        </nav>
        <main class="flex pt-2">
            <div class="bg-stone-100 border border-stone-200 p-2 text-black flex-none text-left w-40 mb-2">
                <h2 class="underline decoration-cyan-600 decoration-solid decoration-2 underline-offset-2 font-medium mb-2">Education</h2>
                <ul class="flex flex-wrap">
                    <li class="text-xxs font-semibold mb-1.5 mr-1"><span class="bg-stone-600 text-stone-100 p-0.5 rounded-s">MCA</span><span class="bg-slate-500 text-stone-100 p-0.5">CS</span><span class="bg-cyan-600 p-0.5 text-white">8.06 CGPA</span><span class="bg-cyan-800 text-stone-100 p-0.5 rounded-e">Kalyani Govt. Engg. College</span></li>
                    <li class="text-xxs font-semibold mb-1.5 mr-1"><span class="bg-stone-600 text-stone-100 p-0.5 rounded-s">B.Sc. (Hons.)</span><span class="bg-slate-500 text-stone-100 p-0.5">CS</span><span class="bg-cyan-600 p-0.5 text-white">7.07 CGPA</span><span class="bg-cyan-800 text-stone-100 p-0.5 rounded-e">TDB College, Raniganj</span></li>
                </ul>
                <h2 class="underline decoration-cyan-600 decoration-solid decoration-2 underline-offset-2 font-medium">Skills</h2>
                <ul *ngFor="let skillArea of data.skills" class="flex flex-wrap">
                    <strong class="basis-full text-xs pl-3 underline">{{ skillArea.title }}</strong>
                    <br>
                    <li class="text-xxs font-semibold mb-1.5 mr-1" *ngFor="let skill of skillArea.skills">
                        <span class="bg-cyan-600 text-stone-100 p-0.5 rounded">{{ skill.title }}</span>
                        <!-- <span class="bg-cyan-600 p-0.5 text-white rounded-e">{{ skill.rating * 5 }}★</span> -->
                    </li>
                </ul>
            </div>
            <!-- <div class="bg-stone-500 text-black flex-none text-left w-0.5 rounded"></div> -->
            <div class="p-2 flex-1 pt-0">
                <h2 class="section">Summary</h2>
                <p class="text-xs leading-tight">{{ data.summary }}</p>
                <h2 class="section">Work Experience</h2>
                <div *ngFor="let exp of data.experience" class="text-xs leading-tight">
                    <div class="flex justify-between">
                        <h2 class="text-sm underline decoration-cyan-600 decoration-solid decoration-1 underline-offset-2 font-semibold">{{ exp.heading }}</h2>
                        <div class="text-xxs font-semibold text-cyan-800 mt-1"><i class="fa-regular fa-calendar-days mr-1"></i>{{ exp.duration }}</div>
                    </div>
                    <div *ngFor="let project of exp.projects" class="ml-1 mb-1">
                        <span class="text-cyan-800 underline decoration-cyan-600 decoration-solid decoration-2 underline-offset-2 mr-1">{{ project.title }}:</span>
                        <span *ngIf="project.liveLinks.length > 0">
                            <span *ngFor="let link of project.liveLinks">
                                <a *ngIf="link.length > 0" [href]="link" matTooltipClass="my_tooltip" matTooltip="GoTo:&nbsp;&nbsp;&nbsp;&nbsp;{{ link }}" target="_blank" class="rounded border border-stone-400 align-baseline inline-block mr-1"><i class="fas fa-link"></i></a>
                            </span>
                        </span>
                        <span class="">{{ project.description }}</span>
                        <span *ngIf="project.responsibility.length > 0" class="">
                            <span *ngIf="project.responsibility.length < 50" class="">
                                <span class="block ml-1 font-semibold">[+] Contribution(s):</span>
                                <ul *ngFor="let duty of arrayOfString(project.responsibility)" class="list-disc list-inside ml-4">
                                    <li>{{ duty }}</li>
                                </ul>
                            </span>
                            <span *ngIf="project.responsibility.length >= 50">
                                {{ project.responsibility }}
                            </span>
                        </span>
                        <span *ngIf="project.techstack.length > 0">
                            <span class="ml-1 font-semibold">[+] Technologies&nbsp;</span>
                            <span *ngFor="let tech of arrayOfString(project.techstack)" class="ml-1 bg-cyan-200 text-xxs rounded p-0.5">{{ tech }}</span>
                        </span>
                        <span *ngIf="project.modules.length > 0">
                            <span class="block ml-1 font-semibold">[+] Module(s):</span>
                            <li *ngFor="let module of project.modules" class="ml-4 border-0 border-stone-300 p-0.5">
                                <span><strong>{{ module.name }}: </strong></span>
                                <span>{{ module.description }}</span>
                                <span><br><strong class="text-cyan-700">Challenges&nbsp;</strong>{{ module.challenges }}</span>
                                <!-- <span><br><strong class="text-cyan-700">Responsibility&nbsp;</strong>{{ module.responsibility }}</span> -->
                                <span *ngIf="module.contributions.length > 0"><br><strong class="text-cyan-700">Contribution&nbsp;</strong>{{ module.contributions }}</span>
                                <span *ngIf="module.techstack.length > 0">
                                    <br>
                                    <strong class="text-cyan-700">Technologies&nbsp;</strong>
                                    <span *ngFor="let tech of arrayOfString(module.techstack)" class="ml-1 bg-cyan-200 text-xxs rounded p-0.5">{{ tech }}</span>
                                </span>
                            </li>
                        </span>
                    </div>
                </div>
                <!-- <h2 class="section">Projects</h2> -->
            </div>
        </main>
    </div>
</div>
